*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fbfbfb;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    text-decoration: none;
}

body::-webkit-scrollbar-track-piece {
    background-color: #fbfbfb;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-thumb {
    background-color: #2E3192;
    border-radius: 10px;
}