.contenedor_buttons
{
    position: absolute;
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;


}
