.contenido{
    position: relative;
    width: calc(100% - 108px);
    left: 76px;
    top: 50px;
    height: auto;
    padding: 30px;

}

.sidebar{
    position: fixed;
    bottom: 0;
    left: -78;
    height: calc(100% - 102px);
    width: 78px;
    background: #003E65;
    padding: 6px 14px;
    transition: all 0.5s ease;
    z-index: 3;
}

.sidebar.active{
    width: 240px;
    left: 0;
}

.logo_name{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.logo_name .title{
    position: relative;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-left: 20px;
    pointer-events: none;
}

.logo_name img{
    height: 90px;
    width: auto;
    object-fit: cover;
    pointer-events: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

@media screen and (max-width: 894px) {
    .logo_name .title{
        font-size: 20px;
        font-weight: 200;
        margin-left: 10px;
    }
    .logo_name img{
        width: 50px;
    }
}

@media screen and (max-width: 431px) {
    .logo_name .title{
        font-size: 14px;
        font-weight: 200;
        margin-left: 5px;
    }
    .logo_name img{
        width: 45px;
    }
    .sidebar.active{
        width: 100%;
    }
}

 #btn{
    position: absolute;
    color: #fff;
    left: 0%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar #btn:hover{
    cursor: pointer;
}

.sidebar.active #btn{
    left: 85%;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 60px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .tooltip{
    position: absolute;
    height: 35px;
    width: 122px;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}


.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    color: #003E65;
    background: #fff;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar ul li input{
    position: absolute;
    height: 100%;
}

#div_cerrar_seccion{
    position:absolute;
	width:50px;
	height:50px;
	bottom:25px;
	left:50%;
    margin-left:-25px;
    border-radius: 50%;

}

#cerrar_seccion{
    position: relative;
    width: 100%;
    height: auto;

}

#cerrar_seccion img{
    display: block;
    width: 80%;
    margin: auto;
}
